.App {
  display: flex;
  flex-wrap: wrap;
}

nav {
  width: 20%;
  height: 100vh;
  background: black;
  box-sizing: border-box;
}

main {
  width: 80%;
  height: 100vh;
  box-sizing: border-box;
}

.map-marker {
  background: white;
  padding: 0px 10px;
  display: table-cell;
  text-align: center;
  border: blue solid 2px;
  border-radius: 5px;
}

.info-window {
  background: black;
  width: 20vw;
  height: 20vh;
  z-index: 1;
  position: fixed;
}
